.iconsDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    column-gap:10px;
    row-gap: 10px;
}
.icons{
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}
.icons:hover{
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2), 0 6px 10px 0 rgba(255, 255, 255, 0.3);  
  }
.ripple{
    position: relative;
    overflow: hidden; 
  }

  .ripple:before {
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    content:'';
    position: absolute;
    top: 50%; left: 50%;
    width:0; height:0;
  }
  .ripple:focus:before {
    transition: all 0.5s ease-out;
    opacity:0;
    width:160px;
    height:160px;
    margin-top:-80px;
    margin-left:-80px;
  }
  .twitter{
    content: url("../../assets/Twitter-Logo.png");
    height: 100%;
  }
  .instagram{
    content: url("../../assets/wp-file.png");
    width: 140%;
  }
  .opensea{
    content: url("../../assets/Logomark-Blue.png");
    height: 100%;
    width: 100%;
  }